// Fonts
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Fraunces', serif;;

// Colors
$white: #FFFFFF;
$cream: #F2EAE2;
$aurometal-saurus: #6C7289;
$deep-aquamarine: #3D8168;
$deep-aquamarine-hover: #1A4032;
$gunmetal: #1C232B;

//Screen break points//
$min-screen-size-desktop: 769px; 